# Gradle build outputs
build/
bin/

# Temporary build files
tmp_*
temp/
tmp/

# VS Code files
.vscode/

# Gradle user home directory
.gradle/

# Local Gradle test cache
.gradle-test-results/

# Gradle Daemon logs
.gradle-daemon/

# MacOS Files
.DS_Store

# NPM files
node_modules/
**/package-lock.json

gradle.properties

## Python testing files
__pycache__/
.pytest_cache/
out/